
.type-label {
    font: 600 14px/24px "source-code-pro",Menlo,monospace;
    text-transform: uppercase;
}
.action {
    background: none repeat scroll 0 0 #ffffff;
    color: #000000;
    display: block;
    font: 600 14px/24px "source-code-pro",Menlo,monospace;
    margin-top: 30px;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
}
.action:hover, .action:focus, .action:active {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 3px solid #ffffff;
    color: #ffffff;
    padding: 5px;
}
.action.invert {
    background: none repeat scroll 0 0 #000000;
    color: #ffffff;
    display: block;
    font: 600 14px/24px "source-code-pro",Menlo,monospace;
    margin-top: 30px;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
}
.action.invert:hover, .action.invert:focus, .action.invert:active {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 3px solid #000000;
    color: #000000;
    padding: 5px;
}
.score {
    border-bottom: 3px solid #ffffff;
    display: block;
    margin-top: 20px;
    width: 40px;
}
.link {
    border-bottom: 2px solid;
    padding-bottom: 2px;
}
.bg-cover {
    background-size: cover;
}
.animate-in {
    transition: all 100ms ease-in 0s;
}
.animate-out {
    transition: opacity 300ms ease-in 0s;
}
@keyframes fadeIn {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
@keyframes fadeIn {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
.fadeIn {
    animation-name: fadeIn;
}
* {
}
body {
    animation: 1s ease-in 0s normal forwards 1 fadeIn;
    background: none repeat scroll 0 0 #000000;
    color: #888888;
    font-family: "source-code-pro",Menlo,monospace;
    font-size: 14px;
    line-height: 1.75;
    opacity: 0;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.5;
}
h1, h2 {
    color: #ffffff;
    font-family: "franklin-gothic-urw",Helvetica,Arial,sans-serif;
    font-weight: 400;
    margin: 15px 0;
}
h1 {
    font: 36px/40px "franklin-gothic-urw",Helvetica,Arial,sans-serif;
}
h2 {
    font-size: 30px;
    line-height: 40px;
}
h3 {
    font: 600 14px/24px "source-code-pro",Menlo,monospace;
    margin-top: 0;
    text-transform: uppercase;
}
p {
    color: #888888;
    margin: 15px 0;
}
a {
    color: #ffffff;
    text-decoration: none;
}
a:hover, a:focus {
    color: #f9f9f9;
    outline: medium none;
    text-decoration: none;
}
a:active {
    box-shadow: none;
}
ul, li {
    list-style: none outside none;
    padding-left: 0;
}
form:focus, input:focus, button:focus {
    outline: medium none;
}
img {
    max-width: 100%;
}
.sticky {
    color: #ffffff;
    display: none;
    height: 40px;
    margin: 0;
    overflow: hidden;
    position: fixed;
    text-align: center;
    top: 45%;
    width: 200px;
    z-index: 99;
}
.sticky a {
    padding: 10px 5px;
    position: relative;
    z-index: 99;
}
.sticky.left {
    left: -60px;
    text-align: right;
    transform: scale(1) rotate(90deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}
.sticky.right {
    right: -60px;
    text-align: left;
    transform: scale(1) rotate(270deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}
.sticky.right a:after {
    border-bottom: 3px solid #ffffff;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 48%;
    z-index: 1;
}
.btn, .btn-default {
    background: none repeat scroll 0 0 #ffffff;
    border: medium none;
    border-radius: 0;
    color: #000000;
    display: block;
    font: 600 14px/24px "source-code-pro",Menlo,monospace;
    margin-top: 30px;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
}
.page {
    background: none repeat scroll 0 0 #000000;
    position: relative;
    z-index: 99;
}
.contact {
    background: none repeat scroll 0 0 #ffffff;
    color: #000000;
    position: relative;
    z-index: 90;
}
.contact a {
    color: #888888;
    font: 600 14px/24px "source-code-pro",Menlo,monospace;
    text-transform: uppercase;
}
.contact a:hover {
    color: #111111;
}
.contact ul {
    margin-top: 15px;
}
.contact .social {
    display: none;
}
.contact .action.invert {
    margin-top: 20px;
}
.contact .contact-close {
    float: right;
    margin: 0;
    position: absolute;
    right: 15px;
    top: -38px;
}
.contact .row {
    padding: 0;
}
.navbar-fixed-top {
    background: none repeat scroll 0 0 #111111;
}
.nav {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 0 0 0 -10px;
    padding: 0;
    z-index: 90;
}
.nav li {
    float: left;
}
.nav li a {
    color: #ffffff;
    display: block;
    font: 600 14px/24px "source-code-pro",Menlo,monospace;
    padding: 15px 10px;
    text-transform: uppercase;
    z-index: 90;
}
.nav li a.selected {
    padding-bottom: 12px;
}
.nav li a.selected span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 3px solid #ffffff;
    color: #ffffff;
    display: inline-block;
    margin-right: 0;
}
.nav li a:hover, .nav li a:focus {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.nav.menu {
    float: right;
    margin-right: -10px;
}
.nav.brand {
    float: left;
}
.nav.brand li {
    width: auto;
}
.nav.brand li a span {
    display: none;
}
.nav.brand li a:before {
    border: 2px solid #ffffff;
    border-radius: 50px;
    content: "S";
    display: block;
    height: 25px;
    line-height: 22px;
    padding: 0 6px;
    width: 25px;
}
.navbar-toggle {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 0;
    float: right;
    margin: 0;
    padding: 17px 0 17px 17px;
    position: relative;
    z-index: 99;
}
.navbar-toggle .icon-bar {
    background: none repeat scroll 0 0 #ffffff;
    border-radius: 0;
}
.jumbotron {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #ffffff;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.jumbotron p {
    font-size: 14px;
    line-height: 1.75;
}
.jumbotron.front {
    background: none repeat scroll 0 0 / cover #000000;
    overflow: visible;
    padding-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
}
.videau {
    left: 0;
    max-height: 1400px;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.videau img {
    animation-name: fadeIn;
}
.carousel.fade .item {
    opacity: 0;
    transition: opacity 0.5s ease-in-out 0s;
    z-index: 1;
}
.carousel.fade .active.item {
    opacity: 1;
}
.carousel.fade .active.left, .carousel.fade .active.right {
    left: 0;
    opacity: 0;
    z-index: 2;
}
.carousel.fade .next, .carousel.fade .prev {
    left: 0;
    z-index: 1;
}
.carousel.fade .carousel-control {
    z-index: 3;
}
.stream .listing {
    padding: 0;
}
.stream .item {
    margin-bottom: 15px;
    width: 100%;
}
.stream .item .image {
    background: none repeat scroll 0 0 #000000;
    display: block;
}
.stream .item .image.album {
    float: left;
    height: 80px;
    margin-right: 15px;
    width: 80px;
}
.stream .item img {
    width: 100%;
}
.stream .item:hover img {
    opacity: 0.6;
    transition: all 100ms ease-in 0s;
}
.message {
    margin-top: 25%;
    z-index: 90;
}
.message h1 {
    color: #ffffff;
    font: 36px/45px "franklin-gothic-urw",Helvetica,Arial,sans-serif;
    margin-right: 10%;
}
.message a:hover, .message a:focus {
    border-color: #111111;
}
.row {
    padding-bottom: 20px;
    padding-top: 15px;
}
.intro {
    position: relative;
    z-index: 90;
}
.intro h3 {
    color: #ffffff;
}
.intro ul {
    font: 600 14px/24px "source-code-pro",Menlo,monospace;
    margin-bottom: 40px;
    margin-top: 0;
    padding: 0;
    text-transform: uppercase;
}
.intro p {
    margin-top: 0;
}
.intro p a.ext {
    border-bottom: 1px solid #333333;
    color: #888888;
}
.intro p a.ext:hover {
    border-color: #ffffff;
    color: #ffffff;
}
.shade {
    background: url("../images/ST_02.jpg") no-repeat scroll center center / cover #000000;
    padding-bottom: 100px;
    padding-top: 40px;
}
.case-study {
    margin-top: -135px;
    padding-top: 135px;
}
.case-study h1, .case-study .score {
    border-color: #000000;
    color: #000000;
}
.case-study p {
    color: rgba(0, 0, 0, 0.5);
}
.case-study.light h1, .case-study.light .score {
    border-color: #ffffff;
    color: #ffffff;
}
.case-study.light p {
    color: rgba(255, 255, 255, 0.9);
}
.case-study.tsib {
    background: url("../images/tsib-cover.jpg") no-repeat scroll center center / cover #222222;
}
.case-study.gbs {
    background: url("../images/gbs-cover-1.jpg") no-repeat scroll center center / cover #111111;
}
.case-study.palloys {
    background: url("../images/palloys-cover.jpg") no-repeat scroll center center / cover #dcc788;
}
.case-study.wgea {
    background: url("../images/wgea-cover.jpg") no-repeat scroll center center / cover #111111;
}
.case-study.onsport {
    background: url("../images/onsport-cover.jpg") no-repeat scroll center center / cover #000000;
}
.case-study.frockwriter {
    background: url("../images/frockwriter-cover.jpg") no-repeat scroll center center / cover #000000;
}
.case-study.pjpl {
    background: url("../images/pjpl-cover.jpg") no-repeat scroll center center / cover #414e56;
}
.case-study.saxony {
    background: url("../images/saxony-cover.jpg") no-repeat scroll center center / cover #eeeeee;
}
.case-study.shinebythree {
    background: url("../images/shinebythree-cover.jpg") no-repeat scroll center center / cover #000000;
}
.case-study.souvlaki {
    background: url("../images/souvlaki-cover.jpg") no-repeat scroll center center / cover #000000;
}
.case-study.zuluandzephyr {
    background: url("../images/zuluandzephyr-cover.jpg") no-repeat scroll center center / cover #000000;
}
.folio .row {
    padding-bottom: 0;
}
.folio .preview {
    color: #ffffff;
    padding: 0 15px 15px;
    z-index: 90;
}
.folio .preview figure {
    background: none repeat scroll 0 0 #000000;
}
.folio .preview img {
    height: auto;
    opacity: 1;
    transition: opacity 300ms ease-in 0s;
    width: 100%;
}
.folio .preview .client {
    font: 600 14px/24px "source-code-pro",Menlo,monospace;
    left: 30px;
    position: absolute;
    text-transform: uppercase;
    top: 10px;
    z-index: 99;
}
.folio .preview h1 {
    display: none;
}
.folio .preview.light {
    color: #111111;
}
.folio .preview.light a {
    color: #111111;
}
.folio .preview.light .score {
    border-color: #111111;
}
.preview.souvlaki .thumb, .showcase.souvlaki .thumb, .preview.souvlaki .frame.logo, .showcase.souvlaki .frame.logo {
    background: none repeat scroll 0 0 #de4f39;
}
.preview.tsib .thumb, .showcase.tsib .thumb, .preview.tsib .frame.logo, .showcase.tsib .frame.logo {
    background: none repeat scroll 0 0 #222222;
}
.preview.gbs .thumb, .showcase.gbs .thumb {
    background: none repeat scroll 0 0 #1f3138;
}
.preview.gbs .frame.logo, .showcase.gbs .frame.logo {
    background: url("../images/gbs-cover.jpg") no-repeat scroll center center / cover #1f3138;
}
.preview.palloys .thumb, .showcase.palloys .thumb {
    background: none repeat scroll 0 0 #dcc788;
}
.preview.palloys .frame.logo, .showcase.palloys .frame.logo {
    background: none repeat scroll 0 0 #222222;
}
.preview.frockwriter .thumb, .showcase.frockwriter .thumb, .preview.frockwriter .frame.logo, .showcase.frockwriter .frame.logo {
    background: none repeat scroll 0 0 #1b1b1b;
}
.preview.wgea .thumb, .showcase.wgea .thumb, .preview.wgea .frame.logo, .showcase.wgea .frame.logo {
    background: none repeat scroll 0 0 #facc00;
}
.preview.wgea .row, .showcase.wgea .row {
    background: none repeat scroll 0 0 #cccccc;
}
.preview.onsport .thumb, .showcase.onsport .thumb, .preview.onsport .frame.logo, .showcase.onsport .frame.logo {
    background: none repeat scroll 0 0 #6fb446;
}
.preview.infigen .thumb, .showcase.infigen .thumb, .preview.infigen .frame.logo, .showcase.infigen .frame.logo {
    background: none repeat scroll 0 0 #5c7ebb;
}
.preview.saxony .thumb, .showcase.saxony .thumb {
    background: none repeat scroll 0 0 #f1f1f1;
}
.preview.saxony .frame.logo, .showcase.saxony .frame.logo {
    background: none repeat scroll 0 0 #0f0f0f;
}
.preview.pjpl .thumb, .showcase.pjpl .thumb, .preview.pjpl .frame.logo, .showcase.pjpl .frame.logo {
    background: none repeat scroll 0 0 #414e56;
}
.preview.shinebythree .thumb, .showcase.shinebythree .thumb, .preview.shinebythree .frame.logo, .showcase.shinebythree .frame.logo {
    background: none repeat scroll 0 0 #453146;
}
.preview.zuluandzephyr .thumb, .showcase.zuluandzephyr .thumb, .preview.zuluandzephyr .frame.logo, .showcase.zuluandzephyr .frame.logo {
    background: none repeat scroll 0 0 #20669f;
}
.showcase .row {
    margin-bottom: 0;
    padding: 0;
}
.showcase .row.live {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.showcase .row.live iframe {
    border-radius: 5px;
    display: block;
}
.showcase figure {
    margin-bottom: 15px;
}
.showcase .frame.browser.live {
    padding: 0;
}
.showcase .frame.desktop {
    padding: 0 0 30px;
}
.showcase .frame.mobile {
    display: none;
}
.showcase .frame.logo {
    padding: 20%;
    text-align: center;
}
.showcase .frame.logo img {
    width: auto;
}
.window {
    margin: 0 auto;
    overflow: hidden;
}
.window span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.desktop .window {
    background: none repeat scroll 0 0 #222222;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 0 6%;
}
.desktop .window header {
    padding: 25px 0;
    text-align: center;
}
.desktop .window span {
    display: block;
    height: 10px;
    margin: 0 auto;
    width: 10px;
}
.footer {
    background: none repeat scroll 0 0 #ffffff;
    bottom: 0;
    color: #000000;
    min-height: 350px;
    position: relative;
    width: 100%;
    z-index: 1;
}
.footer a {
    border-bottom: 1px solid #888888;
    color: #000000;
    display: block;
    font: 600 14px/24px "source-code-pro",Menlo,monospace;
    padding: 10px 0;
    text-transform: uppercase;
}
.footer a:hover {
    color: #111111;
}
.footer ul {
    margin-bottom: 0;
}
.footer .action.invert {
    margin-top: 50px;
}
@media (min-width: 482px) {
.message {
    margin-top: 10%;
}
.folio .preview {
    padding: 15px;
}
.folio .preview .client {
    font: 600 14px/24px "source-code-pro",Menlo,monospace;
    left: 40px;
    position: absolute;
    text-transform: uppercase;
    top: 40px;
    z-index: 99;
}
.folio .preview h1 {
    bottom: 35px;
    display: block;
    left: 40px;
    max-width: 80%;
    opacity: 1;
    position: absolute;
    transition: all 100ms ease-in 0s;
    z-index: 99;
}
.folio .preview img {
    opacity: 0.2;
}
.folio .preview.light {
    color: #111111;
}
.folio .preview.light a {
    color: #111111;
}
.folio .preview.light .score {
    border-color: #111111;
}
}
@media (min-width: 768px) {
.action {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 4px solid #ffffff;
    color: #ffffff;
    display: inline-block;
    font: 600 14px/24px "source-code-pro",Menlo,monospace;
    margin-right: 40px;
    margin-top: 0;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
}
.action:hover, .action:focus, .action:active {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: -moz-use-text-color -moz-use-text-color #ffffff;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 4px;
    color: #ffffff;
    padding: 0;
}
.action.invert {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 4px solid #000000;
    border-color: #000000;
    color: #000000;
    display: inline-block;
    font: 600 14px/24px "source-code-pro",Menlo,monospace;
    margin-right: 40px;
    margin-top: 0;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
}
.action.invert:hover, .action.invert:focus, .action.invert:active {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: -moz-use-text-color -moz-use-text-color #000000;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 4px;
    color: #000000;
    padding: 0;
}
.score {
    border-bottom: 5px solid #ffffff;
    margin-top: 30px;
}
.page {
    margin-bottom: 350px;
}
.contact .action.invert {
    margin-top: 50px;
}
.contact .contact-close {
    float: right;
    margin: 50px 0 0;
    position: relative;
    right: auto;
    top: auto;
}
.contact .social {
    display: block;
}
.contact .row {
    padding: 15px 0 30px;
}
.nav {
    margin: 15px 0 15px -30px;
}
.nav li {
    float: left;
}
.nav li a {
    color: #ffffff;
    display: inline-block;
    padding: 15px 25px;
}
.nav li a.selected {
    padding-bottom: 11px;
}
.nav li a.selected span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 4px solid #ffffff;
    color: #ffffff;
    display: inline-block;
    font: 600 14px/24px "source-code-pro",Menlo,monospace;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
}
.nav li a:hover, .nav li a:focus {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding-bottom: 11px;
}
.nav li a:hover span, .nav li a:focus span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 4px solid #ffffff;
    color: #ffffff;
    display: inline-block;
    font: 600 14px/24px "source-code-pro",Menlo,monospace;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
}
.nav.menu {
    float: right;
    margin-left: 0;
    margin-right: -30px;
}
.nav.brand li {
    width: auto;
}
.nav.brand li a span {
    display: block;
}
.nav.brand li a:before {
    content: none;
}
.message h1 {
    font: 48px/60px "franklin-gothic-urw",Helvetica,Arial,sans-serif;
}
.row {
    padding-bottom: 50px;
}
.intro {
    padding-bottom: 60px;
}
.folio .row {
    padding-bottom: 15px;
}
.folio .preview {
    padding: 15px;
}
.folio .preview .client {
    font: 600 14px/24px "source-code-pro",Menlo,monospace;
    left: 40px;
    position: absolute;
    text-transform: uppercase;
    top: 40px;
    z-index: 99;
}
.folio .preview h1 {
    bottom: 35px;
    display: block;
    left: 40px;
    max-width: 80%;
    opacity: 0;
    position: absolute;
    transition: all 100ms ease-in 0s;
    z-index: 99;
}
.folio .preview img {
    opacity: 1;
}
.folio .preview a:hover img, .folio .preview a:focus img {
    opacity: 0.2;
    transition: all 100ms ease-in 0s;
}
.folio .preview a:hover h1, .folio .preview a:focus h1 {
    bottom: 40px;
    opacity: 1;
    transition: all 300ms ease-in 0s;
}
.folio .preview.light {
    color: #111111;
}
.folio .preview.light a {
    color: #111111;
}
.folio .preview.light .score {
    border-color: #111111;
}
.footer {
    background: none repeat scroll 0 0 #ffffff;
    bottom: 0;
    color: #000000;
    min-height: 350px;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.footer a {
    border: medium none;
    color: #888888;
    font: 600 14px/24px "source-code-pro",Menlo,monospace;
    padding: 0;
    text-transform: uppercase;
}
.footer a:hover {
    color: #111111;
}
.footer ul {
    margin-top: 15px;
}
}
@media (min-width: 920px) {
.sticky {
    display: block;
}
}
@media (min-width: 992px) {
h1 {
    font: 40px/48px "franklin-gothic-urw",Helvetica,Arial,sans-serif;
}
h2 {
    font-size: 36px;
    line-height: 48px;
}
.nav {
    margin: 40px 0 40px -30px;
}
.nav.menu {
    margin-left: -30px;
    margin-right: 15px;
    width: 50%;
}
.jumbotron {
    min-height: 450px;
}
.jumbotron.front {
    min-height: 720px;
    padding-bottom: 100px;
}
.folio {
    max-width: 1600px;
    width: 85%;
}
.folio .preview a:hover img, .folio .preview a:focus img {
    opacity: 0.2;
    transition: all 100ms ease-in 0s;
}
.folio .preview a:hover h1, .folio .preview a:focus h1 {
    bottom: 40px;
    opacity: 1;
    transition: all 300ms ease-in 0s;
}
.showcase {
    max-width: 1600px;
    width: 85%;
}
.showcase .row {
    background: none repeat scroll 0 0 #aaaaaa;
    margin-bottom: 30px;
    padding: 0;
}
.showcase figure {
    margin-bottom: 0;
}
.showcase figure img {
    height: auto;
    width: 100%;
}
.showcase .frame.browser, .showcase .frame.desktop, .showcase .frame.ipad {
    padding: 10%;
}
.showcase .frame.browser.live {
    padding: 0;
}
.showcase .frame.desktop {
    padding: 0 0 30px;
}
.showcase .frame.mobile {
    display: block;
    padding: 20%;
}
.showcase .frame.logo {
    padding: 20%;
    text-align: center;
}
.showcase .frame.logo img {
    width: auto;
}
.window {
    margin: 0 auto;
    overflow: hidden;
}
.window span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.desktop .window {
    background: none repeat scroll 0 0 #222222;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 0 6%;
}
.desktop .window header {
    padding: 25px 0;
    text-align: center;
}
.desktop .window span {
    display: block;
    height: 10px;
    margin: 0 auto;
    width: 10px;
}
.browser .window {
    background: none repeat scroll 0 0 #d9d9d9;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}
.browser .window header {
    height: 32px;
    padding: 0 10px;
}
.browser .window span {
    float: left;
    height: 8px;
    margin-right: 8px;
    margin-top: 12px;
    width: 8px;
}
.mobile .window {
    background: none repeat scroll 0 0 #222222;
    border-radius: 40px;
    padding: 0 20px;
}
.mobile .window span {
    border-radius: 40px;
    display: block;
    height: 10px;
    margin: 0 auto;
    text-align: center;
    width: 10px;
}
.mobile .window header {
    padding: 25px 0;
    text-align: center;
}
.mobile .window footer {
    padding: 15px 0;
    text-align: center;
}
.mobile .window .mic {
    margin-top: 15px;
    width: 50px;
}
.mobile .window .button {
    height: 54px;
    padding: 15px 0;
    width: 54px;
}
.mobile .window .button span {
    border: 2px solid #333333;
    border-radius: 6px;
    height: 23px;
    width: 23px;
}
.ipad .window {
    background: none repeat scroll 0 0 #222222;
    border-radius: 40px;
    padding: 8% 0;
}
.ipad .window img {
    float: left;
    width: 80%;
}
.ipad .window span {
    border-radius: 40px;
    display: block;
    height: 10px;
    margin: 0 auto;
    text-align: center;
    width: 10px;
}
.ipad .window header {
    float: left;
    padding-top: 28.5%;
    text-align: center;
    width: 9%;
}
.ipad .window footer {
    float: right;
    padding: 27.5% 0 0;
    text-align: center;
    width: 11%;
}
.ipad .window .mic {
    height: 50px;
    margin-left: 15px;
}
.ipad .window .button {
    height: 50px;
    padding: 15px 0;
    width: 50px;
}
.ipad .window .button span {
    border: 2px solid #333333;
    border-radius: 6px;
    height: 20px;
    width: 20px;
}
}
@media (min-width: 1200px) {
h1 {
    font: 48px/60px "franklin-gothic-urw",Helvetica,Arial,sans-serif;
}
h2 {
    font-size: 36px;
    line-height: 48px;
}
.folio, .showcase {
    width: 90%;
}
.message h1 {
    font: 60px/72px "franklin-gothic-urw",Helvetica,Arial,sans-serif;
}
}
@media (min-width: 1400px) {
}
